<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.information.dao.WarnMapper">
  <resultMap id="BaseResultMap" type="com.information.pojo.Warn">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="warn" jdbcType="VARCHAR" property="warn" />
    <result column="wtime" jdbcType="INTEGER" property="wtime" />
    <result column="device_id" jdbcType="INTEGER" property="deviceId" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="handle_status" jdbcType="SMALLINT" property="handleStatus" />
    <result column="alarm_type" jdbcType="INTEGER" property="alarmType" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, warn, wtime, device_id, code, handle_status, alarm_type
  </sql>
  <select id="selectByExample" parameterType="com.information.pojo.WarnExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from warn
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from warn
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from warn
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.information.pojo.WarnExample">
    delete from warn
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.information.pojo.Warn">
    insert into warn (id, warn, wtime, 
      device_id, code, handle_status, 
      alarm_type)
    values (#{id,jdbcType=INTEGER}, #{warn,jdbcType=VARCHAR}, #{wtime,jdbcType=INTEGER}, 
      #{deviceId,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{handleStatus,jdbcType=SMALLINT}, 
      #{alarmType,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.information.pojo.Warn">
    insert into warn
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="warn != null">
        warn,
      </if>
      <if test="wtime != null">
        wtime,
      </if>
      <if test="deviceId != null">
        device_id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="handleStatus != null">
        handle_status,
      </if>
      <if test="alarmType != null">
        alarm_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="warn != null">
        #{warn,jdbcType=VARCHAR},
      </if>
      <if test="wtime != null">
        #{wtime,jdbcType=INTEGER},
      </if>
      <if test="deviceId != null">
        #{deviceId,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="handleStatus != null">
        #{handleStatus,jdbcType=SMALLINT},
      </if>
      <if test="alarmType != null">
        #{alarmType,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.information.pojo.WarnExample" resultType="java.lang.Long">
    select count(*) from warn
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update warn
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.warn != null">
        warn = #{record.warn,jdbcType=VARCHAR},
      </if>
      <if test="record.wtime != null">
        wtime = #{record.wtime,jdbcType=INTEGER},
      </if>
      <if test="record.deviceId != null">
        device_id = #{record.deviceId,jdbcType=INTEGER},
      </if>
      <if test="record.code != null">
        code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.handleStatus != null">
        handle_status = #{record.handleStatus,jdbcType=SMALLINT},
      </if>
      <if test="record.alarmType != null">
        alarm_type = #{record.alarmType,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update warn
    set id = #{record.id,jdbcType=INTEGER},
      warn = #{record.warn,jdbcType=VARCHAR},
      wtime = #{record.wtime,jdbcType=INTEGER},
      device_id = #{record.deviceId,jdbcType=INTEGER},
      code = #{record.code,jdbcType=VARCHAR},
      handle_status = #{record.handleStatus,jdbcType=SMALLINT},
      alarm_type = #{record.alarmType,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.information.pojo.Warn">
    update warn
    <set>
      <if test="warn != null">
        warn = #{warn,jdbcType=VARCHAR},
      </if>
      <if test="wtime != null">
        wtime = #{wtime,jdbcType=INTEGER},
      </if>
      <if test="deviceId != null">
        device_id = #{deviceId,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="handleStatus != null">
        handle_status = #{handleStatus,jdbcType=SMALLINT},
      </if>
      <if test="alarmType != null">
        alarm_type = #{alarmType,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.information.pojo.Warn">
    update warn
    set warn = #{warn,jdbcType=VARCHAR},
      wtime = #{wtime,jdbcType=INTEGER},
      device_id = #{deviceId,jdbcType=INTEGER},
      code = #{code,jdbcType=VARCHAR},
      handle_status = #{handleStatus,jdbcType=SMALLINT},
      alarm_type = #{alarmType,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.information.pojo.WarnExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from warn
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>